{#
/**
 * @file
 * Default theme implementation to display something.
 *
 * Available variables:
 * - collective_slug: Collective slug.
 *
 * @ingroup themeable
 */
#}
<div class="ocstuff-api-events-wrapper">
  {% if events is not empty %}
    {% for event in events %}
      <ul style="border-bottom: 1px solid #bbb;">
        {% for key, value in event %}
          <li>{{ key }}: {{ value }}</li>
        {% endfor %}
      </ul>
    {% endfor %}
  {% endif %}
</div>
