{#
/**
 * @file
 * Default theme implementation to display something.
 *
 * Available variables:
 * - collective_slug: Collective slug.
 *
 * @ingroup themeable
 */
#}
<div class="ocstuff-api-events-wrapper">
  {{ collective_slug }}

  here

  {{ dump(events) }}
</div>
