{#
/**
 * @file
 * Default theme implementation to display something.
 *
 * Available variables:
 * - collective_slug: Collective slug.
 *
 * @ingroup themeable
 */
#}
<div class="ocstuff-api-supporters-wrapper">
  {{ collective_slug }}
</div>
