{#
/**
 * @file
 * Default theme implementation to display an open collective list of contributors.
 *
 * Available variables:
 * - collective_slug: Collective slug.
 *
 * @ingroup themeable
 */
#}
<div class="wrapper-class">
  {{ collective_slug }}
</div>
